<ul class="social-links">
    
    {% if site.social.github %}
    <li>
        <div class="icon git-icon"></div>
        <a target="_blank" href="https://github.com/{{ site.social.github }}">
            GitHub
        </a>
    </li>
    {% endif %}

    {% if site.social.x %}
    <li>
        <div class="icon x-icon"></div>
        <a target="_blank" href="https://www.x.com/{{ site.social.x }}">
            @{{ site.social.x }}
        </a>
    </li>
    {% endif %}
    
    {% if site.social.linkedin %}
    <li>
        <div class="icon linkedin-icon"></div>
        <a target="_blank" href="https://linkedin.com/in/{{ site.social.linkedin }}">
            LinkedIn
        </a>
    </li>
    {% endif %}
    
    {% if site.email %}
    <li>
        <div class="icon email-icon"></div>
        <a href="mailto:{{ site.email }}" class="email">
            {{ site.email }}
        </a>
    </li>
    {% endif %}
</ul>